#cloud-config
hostname: ahlz-hybrid01-endpoint

users:
  - name: relay
    sudo: []
    shell: /bin/bash
    ssh_authorized_keys:
      - ${indent(6, relay_public_key)}

write_files:
  - path: /home/relay/.ssh/id_rsa
    permissions: '0600'
    owner: root:root
    content: |
      ${indent(6,relay_private_key)}

  - path: /etc/ssh/sshd_config.d/99-port-forwarding.conf
    owner: root:root
    permissions: '0644'
    content: |
      AllowTcpForwarding yes
      AllowAgentForwarding yes
      GatewayPorts no
      X11Forwarding no

runcmd:
  # Ensure relay home exists 
  - mkdir -p /home/relay/.ssh 

  # Fix ownership after user is created 
  - chown -R relay:relay /home/relay/.ssh 

  # Restart SSH to apply forwarding settings 
  - systemctl restart ssh

disable_root: true
ssh_pwauth: false

package_update: true
package_upgrade: true

