#cloud-config

package_update: true
package_upgrade: true

packages:
  - jq
  - ca-certificates
  - curl
  - gnupg
  - lsb-release
  - unzip

write_files:
  - path: /home/azureuser/.ssh/id_rsa
    permissions: '0600'
    content: |
      ${private_key}

runcmd:
  # -------------------------
  # Install Azure CLI
  # -------------------------
  - curl -sL https://aka.ms/InstallAzureCLIDeb | bash

  # -------------------------
  # Install Terraform
  # -------------------------
  - curl -fsSL https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
  - echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | tee /etc/apt/sources.list.d/hashicorp.list
  - apt-get update
  - apt-get install -y terraform

  # -------------------------
  # Confirm tools installed
  # -------------------------
  - terraform -version
  - az version
  - jq --version

  # -------------------------
  # Clone landing zone repo
  # -------------------------
  - git clone https://github.com/jalcock-training/azure-hybrid-landing-zone /opt/azure-hybrid-landing-zone || true
  - chown -R ${admin_username}:${admin_username} /opt/azure-hybrid-landing-zone
  
  # ------------------------
  # Set up for private key
  # -----------------------
  - mkdir -p /home/azureuser/.ssh
  - chmod 700 /home/azureuser/.ssh
  - chown -R azureuser:azureuser /home/azureuser/.ssh

